* {
  box-sizing: border-box;
}
html {
  transition: all 0.5s ease-in;
}
html.dark {
  background-color: black;
  color: white;
}
/* container of the page */
#Container {
  height: auto;
  overflow: hidden;
  width: 100%;
  padding: 20px;
  /* margin-top:20px; */
  text-align: center;
  align-content: center;
  /* just to see it <DELETE IT LATER> */
  /* border: solid; */
  /*flex*/
  display: flex;
  flex-direction: row;
  transition: all 0.5s ease-in;
}

.profile_right_side .profile_data .view__title a {
  font-size: 0.5em;
}
.profile_right_side {
  border-radius: 10px;
  transition: all 0.5s ease-in;

  height: 612px;
}
#side_profile {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16;
  text-align: center;
  float: left;
  width: 22%;
  /**/
  box-shadow: 22px 22px 21px -11px rgba(43, 37, 37, 0.45);
  -webkit-box-shadow: 22px 22px 21px -11px rgba(43, 37, 37, 0.45);
  -moz-box-shadow: 22px 22px 21px -11px rgba(43, 37, 37, 0.45);

  display: flex;
  flex-direction: column;
}
/*  post style */
.post-container {
  background-color: var(--card-bg);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 17px;
  transition: all 0.5s ease-in;
  border: 1px solid var(--border);
  color: var(--color);
}
.post__user--profile {
  display: flex;
  text-align: center;
  padding: 10px;
  transition: all 0.5s ease-in;
}
.post__user--profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 10px;
  margin-left: 10px;
}
.post__user--profile p {
  margin-top: 10px;
  margin-left: 10px;
  text-transform: capitalize;
}
.post--body {
  padding-left: 15%;
  padding-right: 2%;
  transition: all 0.5s ease-in;
}
.post__body__container {
  border-bottom: 1px solid #ccc;
  margin-bottom: 7px;
}
.post--body textarea {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  resize: none;
  text-align: start;
  color: var(--color);
}
.post--body textarea::placeholder {
  text-align: start;
  color: #333;
}
.post__body--icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post__body--icon input {
  display: none;
}
.post__body__textIcons .icon {
  font-size: 25px;
  margin-left: 10px;
}
.post__body--icon .post-btn {
  background-color: #901b20;
  font-size: 18px;
  border: none;
  padding: 5px 20px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #8080807d;
  color: var(--color);
  transition: all 0.5s ease-in;
}
/*  post style */

/* start users posts style */
.users__posts-card {
  background-color: var(--card-bg);
  border: 1px solid var(--border);

  color: var(--color);
  padding: 0.5em;
  border-radius: 6px;
  margin-bottom: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: all 0.5s ease-in;
}
.users__posts-black {
  background-color: black;
  color: white;
  padding: 0.5em;
  margin-bottom: 20px;
  border: 1px solid rgb(85, 85, 85);
}
.users_posts-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.users_posts-info {
  display: flex;
  justify-content: space-between;
  padding: 22px;
}
.users_profile {
  display: flex;
}
.users__profile_time {
  margin-left: 20px;
}
.users__profile_time p {
  text-align: start;
  padding-bottom: 5px;
}
.users__profile__body {
  padding: 20px;
}
.users__profile__body p {
  text-align: start;
  padding-bottom: 20px;
}
.users__profile__galary img {
  width: 50%;
  border-radius: 6px;
}
.user__couter--likes {
  text-align: start;
  padding-left: 20px;
  padding-bottom: 10px;
  color: blue;
}
.users__profile__react {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.users__comment {
  display: flex;
  border-bottom: 1px solid #ccc;
  align-items: center;
  padding: 10px;
}
.users__profile__newcomments {
  display: flex;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.imguser {
  display: flex;
}

.post-text {
  margin-left: 35px;
}
.imguser a {
  padding: 0.5em;
}
.users__profile__comments img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.users__profile__comments textarea {
  width: 90%;
  border: 0;
  outline: 0;
  border: 1px solid #ccc;
  background-color: var(--card-bg);
  border-radius: 7px;
  resize: none;
  padding: 10px;
}

.commentsClass,
.likeClass {
  padding: 10px;
  color: var(--color);
}
.likeClass:hover,
.commentsClass:hover {
  background-color: rgb(19, 103, 151);
  color: #fff;
}
/* end  users posts style */

/* end of profile part*/

#feed {
  font-family: "Source Sans Pro", sans-serif;
  float: left;
  width: 52%;
  padding-left: 40px;
  padding-top: 15px;
  /*flex*/
  display: flex;
  flex-direction: column;
}
#feed > #post {
  /* border: solid 1px; */
  width: 100%;
  height: auto;
  padding: 15px;
}

/*end top profile*/
/*posts*/
