:root {
  --layout-primary: #e9e6e6;
  --card-bg: #fff;
  --layout-secondary: #901b20;
  --nav-secondary: #0a111a;
  --nav-color: #fff;
  --text-primary: #242627;
  --text-secondary: #0a111a;
  --background-secondary: #1c2b36;
  --btn-hover: #88b2db;
  --color: #000;
  --btn-primary: #901b20;
  --border: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dark-theme {
  --border: #fff;
  --layout-primary: #0a0a0a;
  --card-bg: #000;
  --text-primary: #000;
  --nav-color: #fff;
  --color: #fff;

  --nav-secondary: #901b20;
}
.dark-btn-on {
  padding-left: 23px;
  background: #000;
  --nav-color: #fff;
}
@font-face {
  font-family: itilogo;
  src: url(../assest/fonts/MilleniaPersonalUse-w1OB8.ttf);
}
@font-face {
  font-family: logo;
  src: url(../assest/fonts/RoosterPersonalUse-3z8d8.ttf);
}
body {
  background-color: var(--layout-primary);
}
/* side profile */

.clearfix {
  content: "";
  clear: both;
  display: table;
}

textarea {
  outline: none !important;
}
.container {
  width: 1170px;
  margin: auto;
}
button:focus {
  outline: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color);
}
.btn {
  background-color: var(--layout-primary);
  font-size: 18px;
  padding: 5px 20px;
  margin-top: 15px;
  border: 0;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #8080807d;
  color: rgb(10, 8, 8);
}

.grayTxt {
  color: gray;
}

/* navbar */
#head {
  background-color: var(--nav-secondary);
  width: 100%;
  padding: 15px;
  overflow: hidden;
}
#head > #logohome {
  float: left;
  display: block;
  padding-left: 120px;
  color: var(--nav-color);
  padding-top: 10px;
  font-family: itilogo, sans-serif;
  font-size: 25px;
}
#head > #nav_head {
  float: right;
  padding-right: 100px;
  text-align: center;
}
#head > #nav_head > a {
  float: left;
  display: block;
  color: var(--nav-color);
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
}
/* Change the color of links on hover */
#head > #nav_head > a:hover {
  color: var(--btn-hover);
}
