:root {
  --layout-primary: #fff;
  --layout-secondary: #0a111a;
  --text-primary: #242627;
  --text-secondary: #0a111a;
  --background-secondary: #0a111a;
  --btn-hover: #024b88;
}
h1 {
  background-color: var(--layout-secondary);
  color: var(--layout-primary);
}
